<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Exam List</h2>
     
        <a class="nav-link" routerLink="/addexam" routerLinkActive="active">Add Exam</a>
        
    </div>
    <div class="panel-body">
      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th>Id</th>
            <th >Exam-Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exam of exams | async">
            <td>{{exam.id}}</td>
            <td>{{exam.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
