
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Marks List</h2>
     
        <a class="nav-link" routerLink="/addmarks" routerLinkActive="active">Add Marks</a>
        
    </div>
    <div class="panel-body">
      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

        <thead>
          <tr>
            <th>sid</th>
            <th>sname</th>
            <th >eid</th>
            <th>ename</th>
            <th>sub1</th>
            <th>sub2</th>
            <th>sub3</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marks of marks | async">
            <td>{{marks.sid}}</td>
            <td>{{marks.sname}}</td>
            <td>{{marks.eid}}</td>
            <td>{{marks.ename}}</td>
            <td>{{marks.sub1}}</td>
            <td>{{marks.sub2}}</td>
            <td>{{marks.sub3}}</td>
            
            
              <td><button style='margin-right:16px' (click)="deleteMarks(marks.id)" class="btn btn-danger">Delete</button>
                <nav>
                    <a routerLink="/update-marks/sid" routerLinkActive="active" button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit</a>
                </nav>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
